.cards-scoring-wrapper {

    .add-user-btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    .reset-game-btn {
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
}