.header {
    font-family: 'Bitcount', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        background: gray;
        border-radius: 10px;
        max-width: 33%;

        .card-title {
            text-align: center;
        }

        .card-button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}