@media screen and (max-width: 350px) {
    .first-place {
        margin-top: 27%;
    }

    #end-round-button {
        margin-top: 15% !important;
    }

    #reset-score-button, #end-round-button {
        font-size: .8em;
    }

    .first-place {
        font-size: 2em !important;
        background-color: rgba(219, 178, 55, .6);
    }
    
    .second-place {
        font-size: 1.5em !important;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .third-place {
        font-size: 1em !important;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .other-place {
        font-size: .8em !important;
        margin-left: 7%;
        margin-right: 7%;
    }
    
}

@media screen and (min-width: 350px) and (max-width: 992px) {
    .first-place {
        margin-top: 27%;
    }

    #end-round-button {
        margin-top: 15% !important;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 2200px) {
    .first-place {
        margin-top: 5%;
    }

    #reset-score-button {
        margin-left: 10%;
    }
    
    #end-round-button {
        margin-left: -10%;
    }
    
}

@media screen and (min-width: 2200px) {
    .first-place {
        margin-top: 2%;
    }

    #reset-score-button {
        margin-left: 5%;
    }
    
    #end-round-button {
        margin-left: -5%;
    }
    
}

#list-container {
    padding: 2%;
}

#addItem {
    font-size: 2em;
    margin-right: 1em;
}

#end-round-button {
    z-index: 10;
}

.first-place {
    font-size: 2.75em;
}

.second-place {
    font-size: 2em;
    margin-left: 2%;
    margin-right: 2%;
}

.third-place {
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.other-place {
    margin-left: 7%;
    margin-right: 7%;
}


/* End Round Modal */

#score-update-input {
    max-width: 95%;
}
