/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.3rem
}